Pandas is a module that is critical for data science workflows. It is essentially Excel/Spreadsheers in code form and allows you to easily slice and dice data however you like.

I have used it extensively for Data Mangement from reformatting ascii files, editing ascii / text files, list comparison for list of Seismic or Wells i.e. Studio vs NPD. And of course for real data QC and Analysis 

In this notebook we go throgh some examples using a CSV of Log Data and a CSV of Well Information

![alt text](./datafiles/pandas.png "Title")

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r'./datafiles/6705.csv')

#pd.read_excel(myxls,sheet_name=)

data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0

In [4]:
data.describe()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
count,1312.00000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000
mean,3300.04220,3040.463424,1648.482047,2.365896,0.522141,0.099655,0.617068,3.150915
std,57.74224,213.124570,223.866823,0.147990,0.455644,0.099126,0.421765,1.752435
min,3200.14400,2620.589844,1233.449829,1.545500,-0.081116,-0.097427,0.000000,0.000000
25%,3250.09310,2915.326416,1417.672760,2.270950,0.074636,0.005277,0.198828,3.000000
50%,3300.04220,3002.909912,1681.996887,2.361900,0.382569,0.111074,1.000000,3.000000
75%,3349.99130,3131.899780,1843.336395,2.484025,0.964222,0.181025,1.000000,5.000000
max,3399.94040,4673.348144,2282.482666,2.763000,1.722912,0.477697,1.000000,5.000000

In [ ]:
data.corr()

In [5]:
data.columns
#data.dtpyes
#data.

Index(['Depth', 'Vp', 'Vs', 'Density', 'Vshale', 'Peff', 'Sw', 'Litho'], dtype='object')

In [6]:
data[['Vp','Vs']].head()

            Vp           Vs
0  2848.185547  1415.691162
1  2858.927490  1433.077637
2  2864.618408  1437.152832
3  2866.884522  1460.172974
4  2865.849365  1447.477661

In [8]:
data['VpVs']=data['Vp']/data['Vs']
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892

In [13]:
data.sort_values(['Vp'],ascending=False).head()
# warning this is not saved in the dataframe

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs
926,3341.2664,4673.348144,2239.498535,2.5227,-0.017716,0.132187,0.463509,0.0,2.086783
925,3341.1140,4540.477539,2185.712402,2.5310,0.010278,0.123857,0.469689,0.0,2.077344
927,3341.4188,4429.994141,2276.642090,2.5131,-0.038131,0.140533,0.408171,0.0,1.945846
924,3340.9616,4321.326172,2109.265381,2.5196,0.068559,0.122631,0.421038,0.0,2.048735
850,3329.6840,4256.080078,1732.034668,2.5114,0.784414,0.029394,1.000000,3.0,2.457272

# Slicing a Data Frame

In [17]:
print(data['Litho'].unique())

sand=data.loc[(data['Litho']==5.0)&(data['Vp']>2800)]
sand.describe()

[3. 0. 5.]

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs
count,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.000000,459.0,459.000000
mean,3255.611956,3053.903516,1860.749624,2.273219,0.088230,0.165342,0.111877,5.0,1.643388
std,25.189821,110.510352,88.299772,0.060223,0.112202,0.033120,0.107135,0.0,0.068573
min,3214.317200,2804.519775,1667.109619,2.132800,-0.081116,0.033179,0.000000,5.0,1.448437
25%,3232.833800,2977.651611,1798.308044,2.236350,0.013561,0.152800,0.000000,5.0,1.593994
50%,3255.770000,3045.177246,1850.339844,2.266200,0.058005,0.171520,0.104124,5.0,1.646144
75%,3277.334600,3118.031250,1907.535584,2.293900,0.125687,0.185045,0.206592,5.0,1.690481
max,3299.051600,3448.693115,2282.482666,2.633300,0.644379,0.230829,0.299673,5.0,1.826374

# Output a dataframe

In [21]:
#sand.to_csv('./mycsv')

#sand.to_excel(''./myxls.xls',sheet_name="Data")

sand[['Vp','Vs','Density']].to_csv('./datafiles/mydata.csv',sep='\t')

#sand[['Vp','Vs','Density']].to_csv('./mydata.csv',sep='\t',index=False,header=False)

# Aggregation and Merge

In [24]:
data.groupby(['Litho']).mean()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,VpVs
Litho,,,,,,,,
0.0,3299.481318,3251.596055,1766.879622,2.310062,0.196085,0.206588,0.632708,1.845357
3.0,3334.606293,2947.516821,1438.393833,2.460418,0.988912,0.005541,1.000000,2.053228
5.0,3255.514689,3050.206306,1858.792122,2.272620,0.087935,0.165590,0.112284,1.643099

In [28]:
litho_meta=pd.DataFrame({'Litho':[0.0,3.0,5.0],'Name':['Undef','Sand','Shale']})
litho_meta

   Litho   Name
0    0.0  Undef
1    3.0   Sand
2    5.0  Shale

In [29]:
data.merge(litho_meta, left_on='Litho', right_on='Litho')

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,Name
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.000000,3.0,2.011869,Sand
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.000000,3.0,1.994956,Sand
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.000000,3.0,1.993259,Sand
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.000000,3.0,1.963387,Sand
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.000000,3.0,1.979892,Sand
...,...,...,...,...,...,...,...,...,...,...
1307,3297.9848,3113.562012,1876.497192,2.2785,-0.019741,0.181437,0.293418,5.0,1.659241,Shale
1308,3298.1372,3150.768799,1885.095703,2.2808,-0.036967,0.183602,0.281085,5.0,1.671411,Shale
1309,3298.2896,3179.968994,1880.787231,2.2805,-0.004303,0.177932,0.291585,5.0,1.690765,Shale
1310,3298.8992,3187.597900,1899.016846,2.2983,0.100731,0.153283,0.294732,5.0,1.678552,Shale
1311,3299.0516,3222.372314,1877.313232,2.2667,0.083500,0.167149,0.285315,5.0,1.716481,Shale

# Apply functions on Dataframe

In [30]:
#single paramater

def scale_peff(x):
    y=x*0.1356
    return y

data['ScalledPeff']=data['Peff'].apply(scale_peff)

In [31]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,ScalledPeff
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869,0.002138
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956,0.002500
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259,0.003223
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387,0.003320
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892,0.003259

In [32]:
#multi paramater pass in a dataframe row

def calc_ai(row):
    ai=row['Vp']*row['Density']
    return ai

data['AI']=data.apply(calc_ai, axis=1)

In [33]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,ScalledPeff,AI
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869,0.002138,7084.291680
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956,0.002500,7064.695984
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259,0.003223,7033.210992
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387,0.003320,7037.055021
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892,0.003259,7068.617585

## Examples with Wells Speadsheet

In [ ]:
See notebook 3. Well Filtering