Pandas is a module that is critical for data science workflows. It is essentially Excel/Spreadsheers in code form and allows you to easily slice and dice data however you like.

I have used it extensively for Data Mangement from reformatting ascii files, editing ascii / text files, list comparison for list of Seismic or Wells i.e. Studio vs NPD. And of course for real data QC and Analysis 

In this notebook we go throgh some examples using a CSV of Log Data and a CSV of Well Information

![alt text](./datafiles/pandas.png "Title")

In [2]:
import pandas as pd

In [7]:
data=pd.read_csv(r'./datafiles/6705.csv')
#print(type(data))

data.sample(25)

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
668,3301.9472,3342.281006,1792.927490,2.0423,0.042478,0.387222,0.434406,0.0
760,3315.9680,3158.837158,1741.750122,2.3231,0.124300,0.213621,1.000000,0.0
777,3318.5588,3198.391602,1726.377075,2.3149,0.117712,0.219362,1.000000,0.0
1184,3380.5856,2944.927490,1397.313232,2.4993,0.960298,0.005688,1.000000,3.0
907,3338.3708,3120.508057,1516.273071,2.4228,0.815121,0.034567,1.000000,3.0
680,3303.7760,3848.917480,1901.746826,1.9180,0.032381,0.460034,0.471957,0.0
1183,3380.4332,2959.246338,1388.893311,2.5016,1.059500,-0.008446,1.000000,3.0
170,3226.0520,3038.977539,1934.734497,2.2581,0.145405,0.158632,0.000000,5.0
1306,3399.1784,2953.027832,1454.154053,2.4799,1.018953,-0.002925,1.000000,3.0
1287,3396.2828,3227.842529,1738.444946,2.6167,1.580936,-0.044251,1.000000,3.0
1193,3381.9572,2955.094971,1392.426148,2.4750,1.017186,-0.002701,1.000000,3.0
493,3275.2772,2974.718018,1928.818481,2.2142,-0.003583,0.202913,0.000000,5.0
184,3228.1856,3075.637695,1836.032837,2.1782,-0.000816,0.215950,0.000000,5.0
691,3305.4524,3142.462402,1549.291382,1.7604,0.905207,0.053604,1.000000,3.0
1093,3366.7172,2914.949951,1402.165771,2.5178,1.047340,-0.006281,1.000000,3.0
985,3350.2580,2742.326660,1332.864502,2.4572,0.845990,0.025768,1.000000,3.0
1061,3361.8404,3077.824219,1639.345093,2.7272,0.710214,0.003775,1.000000,3.0
154,3223.6136,3047.482178,1896.993530,2.1991,0.020052,0.203718,0.000000,5.0
315,3248.1500,2934.010742,1669.226074,2.3572,0.278210,0.162011,0.338259,0.0
400,3261.1040,3149.775635,1884.916138,2.2673,0.017567,0.178951,0.000000,5.0
1243,3389.5772,3000.691162,1399.127808,2.6237,1.015948,-0.001151,1.000000,3.0
1256,3391.5584,2962.775635,1446.231812,2.4930,1.039860,-0.005854,1.000000,3.0
767,3317.0348,3102.249023,1656.460449,2.2992,0.111626,0.228845,1.000000,0.0
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.000000,3.0
756,3315.3584,3189.192139,1683.365967,2.3442,0.149740,0.197163,1.000000,0.0

In [4]:
data.describe()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
count,1312.00000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000
mean,3300.04220,3040.463424,1648.482047,2.365896,0.522141,0.099655,0.617068,3.150915
std,57.74224,213.124570,223.866823,0.147990,0.455644,0.099126,0.421765,1.752435
min,3200.14400,2620.589844,1233.449829,1.545500,-0.081116,-0.097427,0.000000,0.000000
25%,3250.09310,2915.326416,1417.672760,2.270950,0.074636,0.005277,0.198828,3.000000
50%,3300.04220,3002.909912,1681.996887,2.361900,0.382569,0.111074,1.000000,3.000000
75%,3349.99130,3131.899780,1843.336395,2.484025,0.964222,0.181025,1.000000,5.000000
max,3399.94040,4673.348144,2282.482666,2.763000,1.722912,0.477697,1.000000,5.000000

In [8]:
data.corr()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
Depth,1.000000,-0.003941,-0.550783,0.454283,0.581492,-0.467595,0.622950,-0.309062
Vp,-0.003941,1.000000,0.555599,-0.233875,-0.395327,0.450647,-0.220789,-0.297132
Vs,-0.550783,0.555599,1.000000,-0.563863,-0.859922,0.771758,-0.835710,0.211777
Density,0.454283,-0.233875,-0.563863,1.000000,0.648102,-0.749696,0.547494,-0.134933
Vshale,0.581492,-0.395327,-0.859922,0.648102,1.000000,-0.925265,0.822730,-0.157754
Peff,-0.467595,0.450647,0.771758,-0.749696,-0.925265,1.000000,-0.671852,-0.074454
Sw,0.622950,-0.220789,-0.835710,0.547494,0.822730,-0.671852,1.000000,-0.496291
Litho,-0.309062,-0.297132,0.211777,-0.134933,-0.157754,-0.074454,-0.496291,1.000000

In [9]:
data.columns
#data.dtpyes
#data.

Index(['Depth', 'Vp', 'Vs', 'Density', 'Vshale', 'Peff', 'Sw', 'Litho'], dtype='object')

In [11]:
data[['Vp','Litho']].head()

            Vp  Litho
0  2848.185547    3.0
1  2858.927490    3.0
2  2864.618408    3.0
3  2866.884522    3.0
4  2865.849365    3.0

In [12]:
data['VpVs Ratio']=data['Vp']/data['Vs']
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs Ratio
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892

In [13]:
sorted=data.sort_values(['Vp'],ascending=False).head()
# warning this is not saved in the dataframe

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs Ratio
926,3341.2664,4673.348144,2239.498535,2.5227,-0.017716,0.132187,0.463509,0.0,2.086783
925,3341.1140,4540.477539,2185.712402,2.5310,0.010278,0.123857,0.469689,0.0,2.077344
927,3341.4188,4429.994141,2276.642090,2.5131,-0.038131,0.140533,0.408171,0.0,1.945846
924,3340.9616,4321.326172,2109.265381,2.5196,0.068559,0.122631,0.421038,0.0,2.048735
850,3329.6840,4256.080078,1732.034668,2.5114,0.784414,0.029394,1.000000,3.0,2.457272

# Slicing a Data Frame

In [15]:
lithos=data['Litho'].unique()




sand=data.loc[(data['Litho']==3)]
sand.describe()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs Ratio
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.0,603.0,603.000000
mean,3334.606293,2947.516821,1438.393833,2.460418,0.988912,0.005541,1.0,3.0,2.053228
std,60.155942,177.863229,102.011104,0.149026,0.153952,0.031714,0.0,0.0,0.103162
min,3200.144000,2620.589844,1233.449829,1.545500,0.662540,-0.097427,1.0,3.0,1.661900
25%,3327.931400,2848.648804,1381.581116,2.455900,0.888290,-0.008357,1.0,3.0,2.003137
50%,3353.001200,2927.908691,1412.008667,2.484600,0.979565,0.002371,1.0,3.0,2.057722
75%,3377.004200,2993.496094,1459.960693,2.513200,1.061638,0.017815,1.0,3.0,2.106297
max,3399.940400,4256.080078,1892.858398,2.763000,1.722912,0.198933,1.0,3.0,2.593927

# Output a dataframe

In [21]:
#sand.to_csv('./mycsv')


sand[['Vp','Vs','Density']].to_csv('./datafiles/mydata.csv',sep='\t',index=False,header=False)

#sand[['Vp','Vs','Density']].to_csv('./mydata.csv',sep='\t',index=False,header=False)

# Aggregation and Merge

In [24]:
data.groupby(['Litho']).mean()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,VpVs
Litho,,,,,,,,
0.0,3299.481318,3251.596055,1766.879622,2.310062,0.196085,0.206588,0.632708,1.845357
3.0,3334.606293,2947.516821,1438.393833,2.460418,0.988912,0.005541,1.000000,2.053228
5.0,3255.514689,3050.206306,1858.792122,2.272620,0.087935,0.165590,0.112284,1.643099

In [28]:
litho_meta=pd.DataFrame({'Litho':[0.0,3.0,5.0],'Name':['Undef','Sand','Shale']})
litho_meta

   Litho   Name
0    0.0  Undef
1    3.0   Sand
2    5.0  Shale

In [29]:
data.merge(litho_meta, left_on='Litho', right_on='Litho')

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,Name
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.000000,3.0,2.011869,Sand
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.000000,3.0,1.994956,Sand
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.000000,3.0,1.993259,Sand
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.000000,3.0,1.963387,Sand
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.000000,3.0,1.979892,Sand
...,...,...,...,...,...,...,...,...,...,...
1307,3297.9848,3113.562012,1876.497192,2.2785,-0.019741,0.181437,0.293418,5.0,1.659241,Shale
1308,3298.1372,3150.768799,1885.095703,2.2808,-0.036967,0.183602,0.281085,5.0,1.671411,Shale
1309,3298.2896,3179.968994,1880.787231,2.2805,-0.004303,0.177932,0.291585,5.0,1.690765,Shale
1310,3298.8992,3187.597900,1899.016846,2.2983,0.100731,0.153283,0.294732,5.0,1.678552,Shale
1311,3299.0516,3222.372314,1877.313232,2.2667,0.083500,0.167149,0.285315,5.0,1.716481,Shale

# Apply functions on Dataframe

In [30]:
#single paramater

def scale_peff(x):
    y=x*0.1356
    y**
    return y

data['NewColumns']=data['Peff'].apply(scale_peff)

In [31]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,ScalledPeff
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869,0.002138
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956,0.002500
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259,0.003223
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387,0.003320
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892,0.003259

In [32]:
#multi paramater pass in a dataframe row

def calc_ai(row):
    ai=row['Vp']*row['Density']
    return ai

data['AI']=data.apply(calc_ai, axis=1)

# Itterration

In [ ]:
for b in wells_dfs:  
  for index, row in b.iterrows():

In [33]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,ScalledPeff,AI
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869,0.002138,7084.291680
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956,0.002500,7064.695984
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259,0.003223,7033.210992
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387,0.003320,7037.055021
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892,0.003259,7068.617585

## Examples with Wells Speadsheet

In [ ]:
See notebook 3. Well Filtering