Pandas is a module that is critical for data science workflows. It is essentially Excel/Spreadsheers in code form and allows you to easily slice and dice data however you like.

I have used it extensively for Data Mangement from reformatting ascii files, editing ascii / text files, list comparison for list of Seismic or Wells i.e. Studio vs NPD. And of course for real data QC and Analysis 

In this notebook we go throgh some examples using a CSV of Log Data and a CSV of Well Information

![alt text](./datafiles/pandas.png "Title")

In [3]:
import pandas as pd
import math

In [10]:
data=pd.read_csv(r'./datafiles/6705.csv')
#print(type(data))


#data.head().round(2)
#data.tail()

#data.sample(25)

#data[30:50]

In [9]:
#file=r"C:\Users\PA007588\DM_Course\datafiles\Wellbore_development_all_08oct2019.xlsx"
#sheet="wellbore_development_all"


#data=pd.concat(pd.read_excel(file,sheet_name=[0,1]))
#data.tail(10)

        Wellbore name    Well name Drilling operator  \
0 5092  7122/10-I-2 H  7122/10-I-2      Eni Norge AS
  5093  7122/10-I-4 H  7122/10-I-4      Eni Norge AS
  5094            NaN          NaN               NaN
  5095            NaN          NaN               NaN
1 0               NaN          NaN               NaN
  1               NaN          NaN               NaN
  2               NaN          NaN               NaN
  3               NaN          NaN               NaN
  4               NaN          NaN               NaN
  5               NaN          NaN               NaN

       Drilled in production licence     Status    Purpose Purpose - planned  \
0 5092                          229   INJECTING  INJECTION         INJECTION
  5093                          229   INJECTING  INJECTION         INJECTION
  5094                           NaN        NaN        NaN               NaN
  5095                           NaN        NaN        NaN               NaN
1 0                              NaN        NaN        NaN               NaN
  1                              NaN        NaN        NaN               NaN
  2                              NaN        NaN        NaN               NaN
  3                              NaN        NaN        NaN               NaN
  4                              NaN        NaN        NaN               NaN
  5                              NaN        NaN        NaN               NaN

       Content         Type Subsea  ... NPDID production licence drilled in  \
0 5092     GAS  DEVELOPMENT    YES  ...                             22644.0
  5093   WATER  DEVELOPMENT    YES  ...                             22644.0
  5094     NaN          NaN    NaN  ...                                 NaN
  5095     NaN          NaN    NaN  ...                                 NaN
1 0        NaN          NaN    NaN  ...                                 NaN
  1        NaN          NaN    NaN  ...                                 NaN
  2        NaN          NaN    NaN  ...                                 NaN
  3        NaN          NaN    NaN  ...                                 NaN
  4        NaN          NaN    NaN  ...                                 NaN
  5        NaN          NaN    NaN  ...                                 NaN

       NPDID production licence target NPDID drilling facility  \
0 5092                             NaN                404415.0
  5093                             NaN                404415.0
  5094                             NaN                     NaN
  5095                             NaN                     NaN
1 0                                NaN                     NaN
  1                                NaN                     NaN
  2                                NaN                     NaN
  3                                NaN                     NaN
  4                                NaN                     NaN
  5                                NaN                     NaN

       NPDID production facility NPDID wellbore reclassified from  \
0 5092                  411354.0                              0.0
  5093                  411354.0                              0.0
  5094                       NaN                              NaN
  5095                       NaN                              NaN
1 0                          NaN                              NaN
  1                          NaN                              NaN
  2                          NaN                              NaN
  3                          NaN                              NaN
  4                          NaN                              NaN
  5                          NaN                              NaN

       Date main level updated Date all updated Date sync NPD    A    B
0 5092              2019-10-03       2015-10-06    08.10.2019  NaN  NaN
  5093              2019-10-03              NaT    08.10.2019  NaN  NaN
  5094                     NaT              NaT           NaN  NaN  NaN
  5095                     NaT              NaT           NaN  NaN  NaN
1 0                        NaT              NaT           NaN  0.0    1
  1                        NaT              NaT           NaN  1.0    b
  2                        NaT              NaT           NaN  2.0    c
  3                        NaT              NaT           NaN  3.0    d
  4                        NaT              NaT           NaN  4.0    e
  5                        NaT              NaT           NaN  5.0    f

[10 rows x 77 columns]

In [11]:
data.describe()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
count,1312.00000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000,1312.000000
mean,3300.04220,3040.463424,1648.482047,2.365896,0.522141,0.099655,0.617068,3.150915
std,57.74224,213.124570,223.866823,0.147990,0.455644,0.099126,0.421765,1.752435
min,3200.14400,2620.589844,1233.449829,1.545500,-0.081116,-0.097427,0.000000,0.000000
25%,3250.09310,2915.326416,1417.672760,2.270950,0.074636,0.005277,0.198828,3.000000
50%,3300.04220,3002.909912,1681.996887,2.361900,0.382569,0.111074,1.000000,3.000000
75%,3349.99130,3131.899780,1843.336395,2.484025,0.964222,0.181025,1.000000,5.000000
max,3399.94040,4673.348144,2282.482666,2.763000,1.722912,0.477697,1.000000,5.000000

In [12]:
data.corr()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
Depth,1.000000,-0.003941,-0.550783,0.454283,0.581492,-0.467595,0.622950,-0.309062
Vp,-0.003941,1.000000,0.555599,-0.233875,-0.395327,0.450647,-0.220789,-0.297132
Vs,-0.550783,0.555599,1.000000,-0.563863,-0.859922,0.771758,-0.835710,0.211777
Density,0.454283,-0.233875,-0.563863,1.000000,0.648102,-0.749696,0.547494,-0.134933
Vshale,0.581492,-0.395327,-0.859922,0.648102,1.000000,-0.925265,0.822730,-0.157754
Peff,-0.467595,0.450647,0.771758,-0.749696,-0.925265,1.000000,-0.671852,-0.074454
Sw,0.622950,-0.220789,-0.835710,0.547494,0.822730,-0.671852,1.000000,-0.496291
Litho,-0.309062,-0.297132,0.211777,-0.134933,-0.157754,-0.074454,-0.496291,1.000000

In [13]:
data.dtypes

Depth      float64
Vp         float64
Vs         float64
Density    float64
Vshale     float64
Peff       float64
Sw         float64
Litho      float64
dtype: object

In [14]:
data.columns
#data.dtpyes
#data.

Index(['Depth', 'Vp', 'Vs', 'Density', 'Vshale', 'Peff', 'Sw', 'Litho'], dtype='object')

# Opearations

In [11]:
data['Vp'].head()
#key error
#if you dont use an array

data[['Vp','Litho']].head()

            Vp  Litho
0  2848.185547    3.0
1  2858.927490    3.0
2  2864.618408    3.0
3  2866.884522    3.0
4  2865.849365    3.0

In [12]:
data['VpVs Ratio']=data['Vp']/data['Vs']
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs Ratio
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892

In [13]:
sorted=data.sort_values(['Vp'],ascending=False).head()
# warning this is not saved in the dataframe

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs Ratio
926,3341.2664,4673.348144,2239.498535,2.5227,-0.017716,0.132187,0.463509,0.0,2.086783
925,3341.1140,4540.477539,2185.712402,2.5310,0.010278,0.123857,0.469689,0.0,2.077344
927,3341.4188,4429.994141,2276.642090,2.5131,-0.038131,0.140533,0.408171,0.0,1.945846
924,3340.9616,4321.326172,2109.265381,2.5196,0.068559,0.122631,0.421038,0.0,2.048735
850,3329.6840,4256.080078,1732.034668,2.5114,0.784414,0.029394,1.000000,3.0,2.457272

In [6]:
#dropna

data.dropna(inplace=True)

In [15]:
# replace

data['Litho'].replace(0.0,9,regex=True)


#if you screw up you can go back

0       3.0
1       3.0
2       3.0
3       3.0
4       3.0
       ...
1307    3.0
1308    3.0
1309    3.0
1310    3.0
1311    3.0
Name: Litho, Length: 1312, dtype: float64

# Slicing a Data Frame

In [17]:
print()

lithos=data['Litho'].unique()

#simpliest
sand=data[(data['Litho']==3)]

#locator function

#sand=data.loc[(data['Litho']==3)]
#sand=data.loc[(data['Litho']==3)&(data['Vs']>103)]




sand.describe()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho
count,603.000000,603.000000,603.000000,603.000000,603.000000,603.000000,603.0,603.0
mean,3334.606293,2947.516821,1438.393833,2.460418,0.988912,0.005541,1.0,3.0
std,60.155942,177.863229,102.011104,0.149026,0.153952,0.031714,0.0,0.0
min,3200.144000,2620.589844,1233.449829,1.545500,0.662540,-0.097427,1.0,3.0
25%,3327.931400,2848.648804,1381.581116,2.455900,0.888290,-0.008357,1.0,3.0
50%,3353.001200,2927.908691,1412.008667,2.484600,0.979565,0.002371,1.0,3.0
75%,3377.004200,2993.496094,1459.960693,2.513200,1.061638,0.017815,1.0,3.0
max,3399.940400,4256.080078,1892.858398,2.763000,1.722912,0.198933,1.0,3.0

# Output a dataframe

In [21]:
#sand.to_csv('./mycsv')


sand[['Vp','Vs','Density']].to_csv('./datafiles/mydata.csv',sep='\t',index=False,header=False)

#sand[['Vp','Vs','Density']].to_csv('./mydata.csv',sep='\t',index=False,header=False)

# Aggregation and Merge

In [24]:
data.groupby(['Litho']).mean()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,VpVs
Litho,,,,,,,,
0.0,3299.481318,3251.596055,1766.879622,2.310062,0.196085,0.206588,0.632708,1.845357
3.0,3334.606293,2947.516821,1438.393833,2.460418,0.988912,0.005541,1.000000,2.053228
5.0,3255.514689,3050.206306,1858.792122,2.272620,0.087935,0.165590,0.112284,1.643099

## Create a dataframe from object/dictionary

In [28]:
litho_meta=pd.DataFrame({'Litho':[0.0,3.0,5.0],'Name':['Undef','Sand','Shale']})
litho_meta

   Litho   Name
0    0.0  Undef
1    3.0   Sand
2    5.0  Shale

In [29]:
data.merge(litho_meta, left_on='Litho', right_on='Litho')

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,Name
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.000000,3.0,2.011869,Sand
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.000000,3.0,1.994956,Sand
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.000000,3.0,1.993259,Sand
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.000000,3.0,1.963387,Sand
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.000000,3.0,1.979892,Sand
...,...,...,...,...,...,...,...,...,...,...
1307,3297.9848,3113.562012,1876.497192,2.2785,-0.019741,0.181437,0.293418,5.0,1.659241,Shale
1308,3298.1372,3150.768799,1885.095703,2.2808,-0.036967,0.183602,0.281085,5.0,1.671411,Shale
1309,3298.2896,3179.968994,1880.787231,2.2805,-0.004303,0.177932,0.291585,5.0,1.690765,Shale
1310,3298.8992,3187.597900,1899.016846,2.2983,0.100731,0.153283,0.294732,5.0,1.678552,Shale
1311,3299.0516,3222.372314,1877.313232,2.2667,0.083500,0.167149,0.285315,5.0,1.716481,Shale

# Apply functions on Dataframe

In [14]:
#a operation returns a series - you can assign this
print(math.sqrt(99))

data['Vp'].apply(math.sqrt)

9.9498743710662

0       53.368395
1       53.468939
2       53.522130
3       53.543296
4       53.533628
          ...
1307    54.346874
1308    54.343925
1309    54.245884
1310    54.121802
1311    54.016034
Name: Vp, Length: 1312, dtype: float64

In [30]:
#single paramater

def scale_peff(x):
    y=x*0.1356
    y**
    return y

data['NewColumns']=data['Peff'].apply(scale_peff)

In [31]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,VpVs,ScalledPeff
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,2.011869,0.002138
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,1.994956,0.002500
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,1.993259,0.003223
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.963387,0.003320
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,1.979892,0.003259

In [32]:
#multi paramater pass in a dataframe row

def calc_ai(row):
    ai=row['Vp']*row['Density']
    return ai

data['AI']=data.apply(calc_ai, axis=1)

# Itterration

In [21]:
for index, row in data.iterrows():
    #for example a runnina average involving multiple colums and rows
    # we cant use index -1
    if index>=1 and index<len(data['Vp'].values)-1:
        ai_delta=(data['Vp'][index]-data['Vp'][index+1])*(data['Vp'][index]-data['Vp'][index+1])
        print(ai_delta)
        data.loc[index, 'RC'] = ai_delta

32.38654768272671
5.135269488437537
1.0715485654304782
8.71950501900597
11.306735104891832
6.088700846358607
6.05621337890625
11.061795065628575
1.5248873696861196
7.102432871520887
9.566757873913604
25.06596145183203
48.45125121666493
18.26226806640625
238.04512003578404
201.6455465581394
55.53087769635884
3.061645709584301
39.91549523621581
2.51519775390625
31.347422541354174
118.9090144206784
210.54746824246382
197.0678585433966
59.23662329870187
237.37510975529656
83.27453488834455
72.7697305239126
5.765392141351185
6.489059272715721
20.609738642022144
0.31558283640943624
21.30714949870246
1.1513249226035023
25.158943831508612
82.85177244657126
310.4083075018104
50.168999494865936
54.07778172534343
487.5406328718889
234.60725712412295
171.17148027885492
207.53300599083062
0.9742884306604431
21.56713445703977
359.5634436018436
0.3436089854143538
511.6807498665936
373.0292362956437
25.971166785433475
37.7102733033366
120.68867830843143
125.29129241889389
0.010166688900063444
86.55449449869423
56.440590670647495
0.20576502593660698
7.259445942027272
1.5297148073088422
7.834805180812588
22.958509623714754
53.61914977109987
18.423292455035853
98.43875773150869
152.05491001439444
43.19467511694683
31.036542392021495
0.18631369389619787
41.328323835780985
48.15600932709697
7.58131068272531
31.90484619140625
27.608661561632527
2.83613251953911
41.196590260851785
11.099178760847556
10.784233024944044
0.3627591465652616
1.6604237266209125
33.20865827317836
128.35407399010796
129.00766910260904
35.10909595079499
11.017990817029933
434.27873765537123
1006.125563723928
147.48963806777525
219.2293743539274
1084.2678501808173
4547.948126128725
14149.962093335174
20861.838778027748
8176.115478515625
8808.619886416258
6802.302815444032
0.45010466312156666
1725.4125802357173
10225.771857810536
42678.55654255768
14327.78608331158
132.890910620229
34.086668179964654
1001.6699616888801
9137.138180730042
24604.710336763394
8522.318853683411
4299.786054029959
19461.271739310956
11524.672470474572
5465.49040217784
169.60992431640625
5177.252197265625
1274.3993593116472
5849.560859689629
14325.565183377053
6577.740648002731
474.92284549144205
1251.5460888031457
203.04162713642748
48.54986615374992
718.0201764223034
1302.8469098338896
5310.623286503706
8625.765625
5973.108592148821
9800.564939428075
2575.9837828258273
4380.6882053363715
24695.477937765878
18879.873698384432
3921.2790781416907
963.83265091511
92.72523843662567
2982.2371696447026
3368.731156315226
1972.9342586414389
5127.972521844642
2066.8966167503813
4764.976416735441
12035.257719005902
5013.3383530416
2034.83368153155
181.69670996985116
138.23467234390228
937.3972231587946
1634.2832656866478
873.7681963206634
25.69569167682287
968.9328045869163
1207.850970025825
524.8864464883235
5404.044578010881
4649.568445447043
203.2295272325738
752.6824403854366
5691.479445749094
11195.200202322592
4573.140625
784.7521315031381
58.35676856126218
4066.4285557732123
9213.468941804635
1731.197869967546
6.103167670681588
863.866238734801
3003.446739371523
1045.2497335558098
310.03849808968295
831.060791015625
720.7048864343669
430.29911074330033
24.729737393742273
15.92586766829432
120.67258458954109
679.024862249119
5.971198065211668
91.21742153027485
43.40351882534949
53.80523385906845
31.756086517464674
2.4436958490552665
1405.920431811614
3957.349869871413
352.8637518702159
5.366869075820491
253.80161679202493
623.5360133083401
1.1487065807965255
430.0054266058298
541.550625100325
369.4917426202157
4525.025597524424
1857.4921492292276
0.17490194608402354
893.7705828111908
4821.905461635491
5280.811102586896
564.050905309578
3773.3365645565996
5392.958835536368
25.318389313342166
1108.8119528333673
757.4455396277057
58.21883803612751
2899.412328285429
4038.887984354971
569.2814235970917
26.49635371703055
224.91212058254885
7.037518150790775
1411.4366586767949
101.49480272347785
1784.6499272417054
2867.8953617169636
1697.0537719726562
277.73980018704935
122.98463329043133
255.72663621532135
1391.8400801611363
3129.331675020602
100.0390658146049
2260.03209913405
3676.130711627753
1666.5371037198686
152.12114732108958
43.303854144814316
121.53232198406234
93.27145708967272
0.8226170739102827
16.31205326041491
2.949068458138622
66.93524869020676
49.14023599409983
2.255129620340012
142.80717009817533
1578.2967579862004
3206.445913888372
5885.017420779181
3212.2548747199016
107.42290170800197
326.0422697575615
1398.1136156928167
1099.1750246854372
491.02924054506695
712.209627472077
882.7978394857688
765.6651093901098
8.715180766052375
3185.1087371363774
1135.7525278406404
0.08741146510850407
198.96425006777136
2316.4621117666447
4954.221443999099
11544.600109553312
5356.517361836385
4.259950695639542
5.283488405054457
324.30768941531
118.38778713047525
3261.452832153318
481.521734565227
1294.348184265791
1208.5977505365781
238.5350513764097
9159.92930798431
7224.460447073626
2.0154850558129676
2329.8533728268576
1036.695356204962
24.434387880468453
338.2061096470795
1104.7671102609718
190.50199740496652
61.60103682924149
1721.2774769302418
3191.4775900295613
2356.5620335448134
1030.5259869838128
159.95209278620285
95.9931107645404
199.39149968662412
340.0944694758228
698.8897694787565
83.63584814253329
565.9891939701495
97.35175310327783
1300.204575875815
4756.823187278725
9118.384846668961
5780.788110284564
2456.3930037509676
572.0692315177699
486.3446314557899
1386.5259516550648
1711.5673939341482
1714.7403877298989
1706.4604228361336
4522.726685640167
3427.8223439740195
754.9614868164062
323.1392436439005
7.516914503282351
413.5007073362032
1002.6283124588127
1428.6960385463567
770.6045917188777
11.291962203555164
24.60363364202812
89.78210222682769
493.6511574133263
1832.0531673211126
1030.259533533403
37.92647314688051
570.8086270131362
1802.9104755166652
77.71180079564377
499.0795273797296
43.75486596745982
508.42763224591033
2731.4913900181505
5401.173396243927
3558.0526024732585
417.3521799532748
2394.926698850906
3422.1928691384733
1992.8943875026064
3064.1738661553563
380.1357502831561
129.85759801986904
267.0702855581202
325.63682567718297
45.57238928655814
9.906510117029875
720.416530748018
1414.722189738251
557.7138878987248
197.87065347582217
718.6483345802254
376.6878265968875
123.26637446702506
336.06337158419365
59.38327903938655
265.612010224046
1406.3232384535847
543.0743233028026
4581.234113899397
2716.150335503266
2021.134663309132
3054.559163594854
1139.408592035107
39.503188458405084
826.1694767309209
639.4996392465745
158.54719939688215
8.507418895504571
65.48112754568643
83.46624567378377
398.58523718833544
325.0027266202154
0.03939681128778551
33.87888029791486
98.99667137579178
589.3894171279112
64.68934711777956
86.37288013613949
176.91727669144706
295.04939770800064
384.3935498858575
4.301370641444864
468.16872676085836
4421.503209930506
8162.301961920621
3658.0938193344005
2976.2139282226562
1721.9865846730243
1019.2710978414498
648.5328737104132
941.1833086214943
9028.293760467579
14288.186643345804
10870.862355753263
3098.3519572517794
23.908662453552456
876.3825942960846
3880.8397958759756
10171.628596919789
9718.850108940278
1325.2728327833304
794.4388142956743
3100.2819771189215
786.8874208612742
50.67868737771394
418.26041640505116
398.89724509222356
147.79815860374345
7.700083329525613
101.14584372263707
164.3729305891163
0.03814697265625
169.26035239409293
211.34174688702853
217.9371725206527
1608.2919634794282
2906.4892201253488
27.724234969008666
5363.917357874162
16272.502838827486
11786.982635186225
1517.46007427718
1028.0352187259462
4369.545675467007
4329.228759765625
2695.728984952185
267.33367697682803
195.5832289895301
340.4367329906512
6.5401571726010275
251.73665149650725
466.1108108883171
159.46460850815598
99.44900309222498
615.381533480484
954.6078320027049
749.3104293456324
118.8983652843815
117.28530446755857
304.2282024300293
152.83261283238738
130.15266979687289
153.06812350813973
0.3660014053799877
475.40180901078617
20.609738642022144
826.9696558777995
3653.5767725689434
4732.539739769487
850.5425415039062
425.0482900266085
2894.9443969726562
3550.862185523762
836.0088886854413
92.73934411010458
89.20009326531915
815.9000908084305
6412.310586256005
9941.881570079482
3544.1441433646787
47.41680870098624
4997.689128342053
8121.1514781807045
5526.339776155348
4046.059413414498
996.7771218808317
895.8884964402193
4898.53037621011
3096.9388054714755
64.93699827581901
4808.589517740855
7913.136239502983
4815.770381766423
826.3940565825421
293.1736538369069
67.19516331694024
309.82359558379267
1196.2546269607672
1389.4001439268593
773.5758965364005
210.33496988314485
3396.9317635958273
5276.873225039678
5455.892505100971
4943.77898930098
4677.0772328612475
5373.398244898705
3229.297052321361
1158.7242619295173
807.4283193362008
125.24210914847481
11.342885126397881
80.355291398792
13.839998158136561
194.10421568621388
20.530013559633662
348.30166405182814
3378.0331582258646
17243.677942899434
15390.292385341647
3796.256591999157
166.52087848334278
664.0058260244153

1608.6836302347674
1525.7263241271146
420.2700164383325
311.4845783641147
1238.1773418846014
67.26322440506151
1596.5448353547208
6443.2760305304155
5417.154070218157
694.6493416948688
236.15795398068303
219.73574608629482
14.832652647918414
1213.2704044841428
3689.3464094961196
1335.049566496578
3.4102259143924414
856.3624930708341
1028.8338127031047
119.45273303380038
150.75115517300054
326.5185466189169
1.7098627417348997
28.24081729567743
112.97364913418778
1840.590150088314
2152.090087890625
108.08688580014407
224.80960929329893
852.35201888067
152.2114955120483
423.3587556073109
1023.5000610351562
1001.129150390625
764.0446389145255
53.00593652391218
1214.223024533368
8154.848393153255
15404.349014067651
9914.247131347656
2936.0999462957666
26.57936172391148
7819.464211116977
20267.1648022884
28175.458406067748
12234.001779364542
25.271730388319444
7695.6927664745235
1421.0286152987005
3952.8051293359854
6131.165274569846
2030.6949143364357
17.582215919090654
275.2067159053731
1041.2753759948675
1425.1178042865668
3411.8319070416524
117.12671620660296
3028.895297188328
118.86109815294122
0.9704365895353277
2541.257699523763
1503.4362514340883
236.7285744237811
3060.093880344099
2368.9751776845987
33.75678093543451
94.46359313218967
561.1670532956448
305.0719361104356
509.9591622414484
13.045217707305332
76.99034104339563
437.9802882820468
127.55871420308377
86.05551721128371
178.6490684987029
100.5672080393993
430.6030257035514
2021.0029503448047
232.21265636643346
1147.2179101624738
843.8769710530959
32.16185838953149
305.63507548959035
463.14276664549976
463.83656264297935
411.57671203395745
649.7893883987034
442.3340159196929
1.5527495091798744
0.37461805566036976
0.7214212429705954
240.39382121754434
503.1456426768262
772.774843733339
287.9219085133448
8.843943816353908
6.844559473279696
88.43620906518014
13.08404541015625
555.2604418084308
1076.3878034758154
9.23144979656426
771.9063800524715
159.17493676703293
101.98731464135463
337.8739432682908
312.0794791570674
111.56124969708173
1497.5350569475997
1449.943603515625
0.29720607658941467
3.034366808804638
174.27093953334264
40.949375409069695
42.676362658134686
22.788036018175607
1663.0306985787613
6181.737071328555
4744.101933810365
516.0195818249703
90.18507158203307
49.53121720182757
369.7452034460886
946.3133795108623
479.90518294467324
284.6667562081542
63.960943560427445
11.647489151830506
0.15087607812708667
284.2714527035515
854.9913077669545
395.394195283967
95.87354862371429
14.776290640835928
185.51424194254423
500.6624766634229
248.75511969516594
2.2128017298901326
180.50079958543523
5.632510170680435
471.1846062047233
1348.9479893495543
2591.048604333437
1625.2748103276842
44.80105871890102
1580.7419005170361
1151.4390760050233
61.601036829234346
1384.3450063047549
852.6514055581365
104.28817510182675
443.17650646987596
157.50372739239353
693.9417104037565
1209.259875998267
1435.9399874948997
868.0763063503415
1422.5199344104376
6049.694985758191
6705.914515075501
622.0006770354543
14.194644739605028
315.91243834389456
5902.748360690035
13906.43230032346
3847.633673908373
2949.6620299078104
8834.760785051909
708.1627832458395
157.93911044174487
3889.8488021920225
794.6039747025815
595.7722995968679
152.58522221702464
22.460565442710106
1375.69272787024
208.892822265625
2578.611375708907
11636.646911170754
9547.236478621437
7897.593976001742
5994.865008251041
723.7886485450675
877.0910251201254
2657.5585647613098
1036.2237642706189
357.9634447021068
18993.025381962434
67638.98018966687
44636.8780532984
10256.309143066406
588.4177773439208
5140.567914304958
5313.256755411282
991.7117380170162
5262.05727262957
43.58385038380548
3400.4900218776056
126.42520625393897
115.2949563798932
5.362345611141639
1626.3970507009117
2021.72740227889
643.7915039149843
838.8631774429599
810.6504448729943
15.814991529168486
1542.2494869794584
4504.585765573302
2734.580115404734
164.74875616577697
1395.8870772558096
6225.88806928338
9016.65232418941
2902.594541636392
57.32441863578313
451.30313850271733
1252.1680264238048
1303.6930266494032
1569.8310739083927
3537.95519519611
725.5105369276903
1476.6532428299688
2761.3793346833772
1360.3238517806678
631.4373911827131
565.6523607152074
8.345836232837668
630.039417543397
704.4255090794333
137.12318427953278
24.85616548097593
27.75252359480846
75.53205394453921
464.50983813159604
1328.9549146766087
1720.3660005170366
896.6340090920273
167.1136917299547
0.4709792776091468
228.4776902839724
5.692930623786668
424.524976711232
16.61915838625934
123.54843576692737
244.93472593259088
38.63642200188525
299.1565488395405
1151.3396684401894
499.96348679469327
286.73832867581774
3668.5853117057804
2267.3732987587896
85.96947774954303
372.8689360244065
9.246291315212973
594.2358473149737
1333.5513382308427
101.31287504565316
1147.0194573203594
448.8273974521077
259.9368958104355
1214.0528858947087
37.035664158801794
1076.7402661776068
691.6283594333635
342.35840748314564
2201.8456435583316
297.7309804417483
543.7344964804801
2192.233112985763
2505.3250926451533
363.93759489105304
8.921072207308676
220.91713100292748
1115.21102401645
541.17571120729
46.17428096756056
0.45503200307229225
20.076787196085807
0.31012056909454644
105.2978609664437
84.20392377187707
13.488045114536877
97.61208414173396
0.9238700681788395
87.85400818959465
785.2035879794286
1536.4639108049614
73.92389128832139
26.50640869140625
132.2668457364164
577.3836427354363
739.9701631645191
1934.603762231549
2339.101432544852
377.6455893741218
309.9353384053726
999.3686749382861
275.04473473705633
24.05691785814231
25.64868520209768
283.9422451732845
496.1821515964473
21.481052166945812
2.9239662795293886
218.420398709383
899.8974689203231
133.65188854567825
1025.4223687862038
1486.991094641054
592.4398789797077
63.6956746358452
101.676893598707
73.96587907682765
590.2906790631308
2136.488814620204
1706.662142236386
1301.7368001363056
963.4385604166083
146.16432069045348
35.96485218313549
146.14071017924914
4399.808817614345
10341.73795414197
2603.8645606730283
1.4782190018929644
1.7085859612138967
3162.250024635233
10591.95752763018
12662.512974619965
17029.93139879035
683.4854523518733
46264.27103526026
116514.88895240417
75958.37443246774
15338.000072714303
357.6401762538727
884.0023907844158
2079.0349394249015
1549.1988311227371
2940.2288369111184
2397.8667476738815
1.3239604429705958
4651.333243507253
10376.17780691646
18141.24877637717
17893.503703613198
1273.1968957440909
1590.1519206706905
3841.7903524343446
12358.317264884297
58216.6416015625
165412.9923766219
163909.13668399412
32250.58279902016
454.930570797282
27852.073267608866
64748.75350720538
34884.95535009634
2907.2526622643327
273.37102311814846
315.44395994272105
17109.930157041785
79487.65260580169
113048.9579819968
33716.347440541605
335.0705208806839
7372.628831501047
20069.813383917623
10682.453847385894
5921.219840598487
1620.023192088462
1621.9497680664062
9408.431646783212
6595.454287337065
47.13144336693973
3643.755198716399
12494.119994988407
15985.206692041646
164.83651097923828
14585.338650166352
16032.592263860206
6367.814008405075
1122.8553059986702
177.5152871862941
36.67402412682695
0.013110685103621502
14.159713680659515
82.21300420503333
110.82496748338731
1050.5131823299682
526.543385898722
4.494896941738172
18.308203035438257
90.32887482581287
18.635578987505827
3.330446517392532
82.59419232534327
96.99075801660814
1176.5770961718576
906.8391134991433
209.45777748340058
692.34765625
155.65242993911323
149.62617128438202
665.9701003152184
3090.31216224798
3846.1194272612793
3405.5032093993987
2135.2476708711138
3602.8130493164062
8512.675238958436
3872.9654941276112
3816.289372911141
17100.41489832692
7211.558985063074
2049.838890596473
144.47500066644687
1368.2232582079967
4966.670555987695
23.099100892025508
15595.838818703316
41035.42389459651
46940.98855916041
51542.63420395866
21903.132817383248
26986.64458791101
71068.32242081947
55513.043100177405
48027.32174562968
17654.59777936237
59221.17121416075
254016.49220663903
219611.90761708657
111138.8906250003
46332.45741500952
14687.120226632615
829.4568768858366
6072.807877595155
6386.725642294803
6.985799994808708
856.662583194869
998.442735842894
97.96456624656031
96.22766947064022
314.1444687674508
549.7857158211083
59.138953024411755
318.5214056202163
0.1359045920257405
499.6032582837897
172.52847981909292
4732.237424871069
3605.685839282204
585.3777062153241
13252.079281593833
13060.483109296458
269.4695398201499
8741.154326532618
5294.836181640625
1402.2062786528036
0.03433709062719299
125.67417126578763
84.13224850718116
444.54469144020726
571.9641264402179
95.36266412208197
0.11850000718698829
4.495932466608424
12.994123792539424
3.697358275621909
58.10712252768159
172.83005207944836
207.0128001780738
123.90146512771973
94.2928236657867
258.91449792688906
0.2588663482786378
226.8936135133343
119.87469956163547
116.28800021043294
451.3861252258171
382.4717430804813
43.719344055661544
198.42739181890965
95.42942999487725
36.408378824941266
113.41521977682673
229.28288351126773
213.29832239254472
1.374435472714922
168.5115845948752
20.492420717878286
2.974277582567448
103.20397049316223
64.8426000315875
337.03975811454086
718.9363362133548
42.01862773437979
2608.451124708014
16729.8056640625
44191.30699685809
15826.635118802744
2857.6802931914526
34159.81135593655
29060.8432871922
3003.7946214804497
0.030386242172181794
40.565951982571725
17.981657908961242

0.7376863634366447
0.8181944206807847
0.8798220509371578
0.9182467038537062
11.21334229896078
26.576843828749304
7.7041485429699685
188.7604947009949
119.75177246909507
8.738259389389965
7.929394182722779
131.21881427709525
704.736572265625
231.63264452391854
49.424745484796155
55.75670129567922
234.27830129202496
242.1154236354496
6047.492431640625
36210.39188033602
55183.24031337941
6879.965376272839
12979.028003523461
45414.77326886449
39890.79731457916
13717.29341102591
1728.0502840188938
11.190462727181833
2668.771738608406
14468.636272780432
19969.153667547045
14328.89657389087
2491.121187361438
3807.727586546057
10530.637898353987
13278.623593161235
3889.057047495654
188.72695651085553
2658.96835564942
29592.98702881618
74921.82041738463
25770.20385526608
6408.127586740564
61918.837766104385
47480.79302539244
20131.910240985868
10376.675192098799
1246.2658143210776
6648.9770334628365
20974.195786600678
7411.839523545739
653.4788507364012
192.99016178968128
52.63332589270888
472.7120984604348
599.9150876295428
1416.1366938755218
386.99226988459054
3290.602051249103
3328.720917680714
2386.9045343858256
531.1809550821935
1989.7349623018836
1045.865497008423
2438.372825341771
1737.2167065166268
0.813343342879859
528.7192762527177
405.1532071570193
130.5484783154384
14.50538597167679
140.3033308838687
280.693376309162
122.28169724912546
462.15552092811606
445.0595950249452
1.535760142711807
564.236463160973
111.78312502997382
3044.4746013199006
1044.665729085768
557.7484811032739
9.200321045848455
0.9248089965656896
0.8945391532800498
0.87890625
148.80902581163605
17.783434795679998
62.57829640538368
95.8878917550424
45.115359252494784
22.35424309514621
18.208056214677903
294.0019238501581
259.92115075813905
12.879967779236523
5.7291041018925455
314.3175792862135
382.57679032065613
50.82130360839301
48.298428775791365
50.20359036578506
45.056344637040816
3.94646950312833
152.79036303343136
292.5552996455073
327.75495721122996
304.2452366611256
20.556572024951027
164.51068560834284
54.12806370938013
5.361214695640425
21.481052166941595
0.0
12.83969417885397
0.21381588704540247
46.55663411986214
62.19648161644403
18.133125703281856
34.63334034609377
4.052908207307321
2.609770783963335
22.305788188320836
32.18955540505219
5.2992132080035494
5.379319017029595
45.0563459795193
482.70106427660096
447.34935244296287
92.13375162923401
13.254150390625
16.3870787963583
73.584228515625
150.67322892952512
15.296959779235095
112.558837890625
116.75709921532224
58.6966975361275
247.0791015625
514.1910530302767
198.2829758948882
0.21223831666531143
0.006729117773526751
5.633668870934295
6.576420214988504
18.970108467772796
22.68559172807284
0.25713022781617895
14.67698011439282
1.723938275937265
47.827895440207605
0.9718801112642798
90.89592611816211
211.7252335302756
73.61774191810943
0.04870990249009063
90.75167012396705
68.984056142026
8.217964303282429
7.168954306591895
43.82918374254088
2.6200352682956836
366.6813592939111
635.1852006190317
81.70465087890625
6.297698158960565
24.586683573715682
38.30630804568247
120.35097067067363
161.79144223481327
165.40120293343134
96.17019985756463
48.000269780799904
184.87633682300063
2.8807105169427136
1.5002660964619585
152.11512604871638
2194.794395229227
205.02939945580482
434.57387722496424
3.1981245465666057
4.942371467881214
36.75982712593311
161.57413766818226
227.39403155218122
4.335870841445457
167.1452537987146
266.9984725797139
0.0003814716796871085
359.31350133591485
1.1424351920258164
297.697279158401
6.859898006397099
114.1496103195516
2.5665667657810975
356.4591955361253
1690.1613687558092
1243.698747288447
763.977156794679
1026.5015258789062
634.8160723838109
1582.2370797833926
261.04808027390436
0.3199868480067122
0.28067225218251984
1.2188246112141008
13.448622080039454
12.908021422302403
51.89556143953236
109.73789994828236
73.23281214173747
21.36353385814121
43.864750239596106
105.30287273027191
92.71583460839986
85.94684264550219
100.14165212781934
59.57533178463368
14.249887374542775
190.03053421544018
105.35799563385898
59.8092278645303
66.98719099564053
67.78080871468994
85.10693132681929
88.25263011722507
4.770214619542696
500.8373026625326
2086.5223291986626
1393.4618187973006
10.602210002714436
616.884427451826
1418.8574765414398
498.1854489166853
1.4533903448088452
25.6684717834038
287.7893575303729
1281.643494082366
1679.0586696181667
413.01432607998174
90.25
618.6320285869053
357.3170576202322
0.6971597045290926
276.89414939468213
0.7596553570397372
333.9899015825614
177.99703111518903
138.39546285843264
153.95138903968135
72.20435201244048
4.035233246520915
195.93848322767636
250.67640321348202
215.1421449414564
95.63942412658399
0.2434516518272165
35.792292467554574
58.20766043663356
0.41668031986071713
0.1684284883202186
91.37138199847777
182.38845258510497
2.0057918210954933
0.5075170370454632
138.14857511170368
1.5418169032814149
504.2524623448272
673.6914271448065
164.44180345098732
0.3314116073095384
1011.1654748930937
1860.292089127702
1294.7171120343912
370.06449668066404
440.3030084131106
4282.545696998526
26901.36549476448
50246.46223700388
13242.469136015463
8170.11200784572
38367.589462545686
17565.244059118188
3223.6113204678554
1119.3075960893984
436.25502223027036
110.76843022682674
151.05106113620167
215.6294330111385
1.1518488198620205
215.72265625
132.82337302455858
21.805890755809013
78.64000512640249
165.1438316888964
10.380793617388877
0.3041672509853595
3.5083046895986194
5.0230267465210945
11.138254779522548
7.830705636267266
0.3079491916643824
0.10275659791459676
113.34243039610016
180.8092550987016
130.81640625

In [22]:
data.head()

,Depth,Vp,Vs,Density,Vshale,Peff,Sw,Litho,RC
0,3200.1440,2848.185547,1415.691162,2.4873,0.894953,0.015769,1.0,3.0,NaN
1,3200.2964,2858.927490,1433.077637,2.4711,0.884303,0.018439,1.0,3.0,32.386548
2,3200.4488,2864.618408,1437.152832,2.4552,0.858905,0.023768,1.0,3.0,5.135269
3,3200.6012,2866.884522,1460.172974,2.4546,0.854969,0.024481,1.0,3.0,1.071549
4,3200.7536,2865.849365,1447.477661,2.4665,0.851622,0.024037,1.0,3.0,8.719505

## Examples with Wells Speadsheet

In [ ]:
See notebook 3. Well Filtering