In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"./datafiles/wells_lat_long.csv",sep=";",engine='python')

In [3]:
data.head()

     WellName               La              Lo   Latitude  Longitute
0     25/10-9  59°06'34.6715"N   2°10'7.7990"E  59.063467   2.107099
1    25/10-11  59°12'48.0601"N  2°07'42.2901"E  59.124806   2.074229
2    25/9-2 S  59°22'56.2586"N  2°41'46.8889"E  59.225626   2.414689
3  25/10-12 S  59°02'36.7000"N  2°18'13.0998"E  59.023670   2.181310
4   25/2-18 B  59°49'30.1101"N  2°37'54.1001"E  59.493011   2.375410

In [4]:
for a in data['La'].head().values:
    l1=a[:2]
    l2=a[3:5]
    if a[7].isnumeric() == False:
        l3=a[6]+"0" 
        l4=a[8:12]
    else:
        l3=a[6:8]
        l4=a[9:13]
    print(l1+"."+l2+l3+l4)

59.06346715
59.12480601
59.22562586
59.02367000
59.49301101

# Regular Experssions
https://regexr.com/

Extract from text/strings using patterns

In [19]:
import re

In [20]:
name="25/10-11"

print(re.findall(r"\d+(?=-)", name))

# \d any digit
# + one or more preceeding token
# ?= look ahead without including token

['10']

In [21]:
print(re.findall(r"\d+(?=/)", name))

['25']

In [22]:
name="25/2-18 B"
print(re.findall(r"\s(.)", name))


# \s sapce

# . any charcater

['B']

In [34]:
lat="59°06'34.6715N"
print(re.findall(r"\d", lat))
lat_fix=string = ''.join(re.findall(r"\d", lat))

print(lat_fix)
lat_float=float(lat_fix[:2]+"."+lat_fix[2:])
lat_float

['5', '9', '0', '6', '3', '4', '6', '7', '1', '5']
5906346715

59.06346715

# Search and Replace

In [35]:
# .replace

data['WellName'].replace("S","Sidetrack",regex=True,inplace=True)
data.head()

             WellName               La              Lo   Latitude  Longitute
0             25/10-9  59°06'34.6715"N   2°10'7.7990"E  59.063467   2.107099
1            25/10-11  59°12'48.0601"N  2°07'42.2901"E  59.124806   2.074229
2    25/9-2 Sidetrack  59°22'56.2586"N  2°41'46.8889"E  59.225626   2.414689
3  25/10-12 Sidetrack  59°02'36.7000"N  2°18'13.0998"E  59.023670   2.181310
4           25/2-18 B  59°49'30.1101"N  2°37'54.1001"E  59.493011   2.375410

In [37]:
text="this is just a test"
print(text.replace("test","mess"))

this is just a mess

In [38]:
print(text)

this is just a test